<table id="<%= dom_id friends_info %>", class="table  table-bordered table-hover"><%# table-stripped %>

  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Instagram</th>
      
    </tr>
  </thead>
  
  <tr>
    <td>
      <%= friends_info.First_name %>
    </td>
    <td>
      <%= friends_info.Last_name %>
    </td>
    <td>
      <%= friends_info.Contact %>
    </td>
    <td>
      <%= friends_info.Email %>
    </td>
    <td>
      <%= friends_info.Instagram %>
    </td>
  </tr>
</table>

